# node.js npm related

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# App Build process
cache/
apps/
dist/
debug/
release/
testresults/
.eslintcache

# OSX
.DS_store

# artefacts for Visual Studio Code
.vscode/*
!.vscode/extensions.json

# Visual Studio
.vs/

# node js
node_modules/

# NetBeans
nbproject/

# IntelliJ
.idea

# Eclipse
.project
.settings/
test-results-junit/
/src/package.json

# Capacitor config file, we generate it at runtime
capacitor.config.json

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Capacitor Android build output directories for local plugins
capacitor-plugins/*/android/bin/


/*.pem
/.claude
/CLAUDE.md
