.DS_store
nbproject/
.idea
.project
.settings/
node_modules/
npm-debug.log
cache/
apps/
dist/
debug/
release/

# Font template bitmaps
resources/osd/*.png

# artefacts for Visual Studio Code
/.vscode/
