# node.js npm related

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Configurator Build process
cache/
apps/
dist/
dist_cordova/
debug/
release/
testresults/
.eslintcache

# OSX
.DS_store

# artefacts for Visual Studio Code
/.vscode/

# NetBeans
nbproject/

# IntelliJ
.idea

# Eclipse
.project
.settings/
