.jBox-container {
	background: #393b3a;
	color:white;
}

.jBox-Modal .jBox-title,
.jBox-Confirm .jBox-title {
	background: #393b3a;
	border-bottom: 1px solid #9c9c9c;
    text-shadow: 0 1px 1px #fff;
    color: white;
}
