[Desktop Entry]
Name=Betaflight Configurator (English)
Comment=Crossplatform configuration tool for the Betaflight flight control system
Exec=bash -c "LANGUAGE=en /opt/betaflight/betaflight-configurator/betaflight-configurator"
Icon=/opt/betaflight/betaflight-configurator/icon/bf_icon_english_128.png
Terminal=false
Type=Application
