.tab-adjustments .adjustment:nth-child(odd) {
    background-color: #2f2f2f;
}

.tab-adjustments .adjustments {
    background-color: #393b3a;
}

.tab-adjustments .adjustments td {
    border-top: 1px solid #00000000;
    border-bottom: 1px solid #00000000;
}

.tab-adjustments .adjustment select {
    background-color: #3a3a3a;
    color: white;
}

.tab-adjustments .noUi-background {
    background-color: #858585;
}
