.tab-configuration .mixerPreview {
    background-color: #393b3a;
}

.tab-configuration .gui_box span {
    color: white;
}

.tab-configuration input,
.tab-configuration select {
    background-color: #3a3a3a;
    color: white;
}
