.tab-failsafe .number input {
    background-color: #3a3a3a;
    color: white;
}

.tab-failsafe .number input:disabled {
    background-color: #393b3a;
    color: grey;
}

.tab-failsafe .radioarea {
    background-color: #393b3a;
}

.tab-failsafe .gui_box span {
    color: white;
}

.tab-failsafe .stage1 select {
    background-color: #3a3a3a;
    color: white;
}

.tab-failsafe .modename {
    background-color: #393b3a;
}

.tab-failsafe .switchMode {
    background-color: #3a3a3a;
    color: white;
}

.tab-failsafe .pro1 {
    background-image: url(../../images/icons/cf_failsafe_procedure1-dark.svg);
}

.tab-failsafe .pro2 {
    background-image: url(../../images/icons/cf_failsafe_procedure2-dark.svg);
}

.tab-failsafe .pro4 {
    background-image: url(../../images/icons/cf_failsafe_procedure4-dark.svg);
}

