.tab-gps .GPS_info .head, .tab-gps .GPS_signal_strength .head {
    border-bottom: 1px solid #9c9c9c;
    background-color: #393b3a;
}

.tab-gps #loadmap .controls {
    background-color: #393b3a;
}

.tab-gps #loadmap .controls a {
    background-color: #393b3a;
    border: 1px #9c9c9c solid;
}

.tab-gps #loadmap .controls a:hover {
    background-color: #393b3a;
}

.tab-gps #loadmap .controls a:active {
    background-color: #393b3a;
}

progress[value]::-webkit-progress-bar {
    background-color: #393b3a;
}