.tab-landing .content_top {
    background-color: #00000000;
}

.tab-landing .content_mid {
    background-color: #3e3e3e;
}

.tab-landing .logowrapper img {
    content:url(/images/cf_logo_black.svg);
}

.tab-landing .content_mid .text3 .wrap2 {
    background: #5f5f5f;
}

