.tab-led-strip .section {
    color: #c4c4c4;
}

.tab-led-strip .mainGrid {
    background-color: #4e4e4e;
}

.tab-led-strip button {
    background-color: #6b6b6b;
    color: white;
}

.tab-led-strip button:hover {
    border: 1px solid #ffffff;
    background-color: #393b3a;
}

.tab-led-strip .gridSections,
.tab-led-strip .gridSections .block {
    border: none;
}
