.tab-osd .display-layout input.position {
    border-bottom: 1px solid red;
}

.tab-osd .preview {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../images/osd-bg-1.jpg);
    background-size: cover;
}

/* these two items replace the look of the checkboxes in only CSS */
.tab-osd input[type='checkbox']:after {
    line-height: 1.5em;
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-top: -1px;
    margin-left: -1px;
    border: 1px solid #404040;
    border-radius: 0.25em;
    background: #4d4d4d;
}

.tab-osd input[type='checkbox']:checked:after {
    background: #ffbb00;
    border: 1px solid #404040;
}
