.info .progress {
  border: 1px solid #9c9c9c;
}

.fontpresets {
  border: 1px solid #9c9c9c;
  background-color: #3c3c3c;
  color: white;
}

/* Above two items are related to jbox, and serve as a reminder to look in src/css/tabs/osd.css */

.tab-osd .options select {
  border: 1px solid #9c9c9c;
}

.tab-osd .release_info .title {
  border-bottom: 1px solid #9c9c9c;
}

.tab-osd .display-layout input.position{
  border-bottom: 1px solid red;
}

.tab-osd .preview {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../images/osd-bg-1.jpg);
    background-size: cover;
}

.tab-osd .preview .gui_box_titlebar select {
    background-color: #3a3a3a;
    color: white;
}

.tab-osd .switchable-field.mouseover {
  background: #3a3a3a;
}

.tab-osd .timer-option {
  margin-bottom: 2px;
}

.tab-osd input,
.tab-osd select {
  background-color: #3a3a3a;
  color: white;
}

/* these two items replace the look of the checkboxes in only CSS */
.tab-osd input[type='checkbox']:after{
    line-height: 1.5em;
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-top: -1px;
    margin-left: -1px;
    border: 1px solid #404040;
    border-radius: 0.25em;
    background: #4d4d4d;
}

.tab-osd input[type='checkbox']:checked:after {
    background: #ffbb00;
    border: 1px solid #404040;
}
