.tab-pid_tuning .profile .helpicon,
.tab-pid_tuning .rate_profile .helpicon,
.tab-pid_tuning .pid_titlebar .helpicon {
    background-image: url(../../images/icons/cf_icon_info_grey.svg);
    opacity: 0.4;
}
.tab-pid_tuning .profile .helpicon:hover,
.tab-pid_tuning .rate_profile .helpicon:hover,
.tab-pid_tuning .pid_titlebar .helpicon:hover {
    opacity: 1;
}

.tab-pid_tuning .throttle_limit th {
    background-color: #393b3a;
    border-bottom: 1px solid #5e5e5e;
}

.tab-pid_tuning .cf tr {
    background-color: #414443;
}

.tab-pid_tuning .cf th {
    background-color: var(--quietHeader);
    color: white;
}

.tab-pid_tuning .cf input {
    background-color: #3a3a3a;
    color: white;
}

.tab-pid_tuning .cf select {
    background-color: #3a3a3a;
    color: white;
}

/* These values should have been inherited from the regular style, but are not */
.tab-pid_tuning .pid_titlebar .wide_header {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.tab-pid_tuning table.compensation .suboption select{
    background-color: #3a3a3a;
    color: white;
}

.tab-pid_tuning table input,.inputBackground {
    background-color: #3a3a3a;
    color: white;
}

.tab-pid_tuning table select {
    text-align-last: right;
    background-color: #3a3a3a;
    color: white;
}

.tab-pid_tuning .tab_container {
    background-color: #393b3a;
}

.tab-pid_tuning .tab_container td {
    background-color: #535655;
    border-right: 1px solid #393b3a;
}

.tab-pid_tuning .tab_container td:last-child {
    background-color: #535655;
}

.tab-pid_tuning .tab_container td.active {
    background-color: #ffbb2a;
    color: black;
}

.tab-pid_tuning .tab_container td.active a {
    background-color: #ffbb2a;
    color: black;
}

.fancy.header {
  background-color: #393b3a;
}

.pid_roll {
    background-color: #A00000;
}

.pid_pitch {
    background-color: #00A000;
}

.pid_yaw {
    background-color: #0000A0;
}


.pid_mode {
    background-color: #3c3c3c;
    border-bottom: 1px solid #3c3c3c;
    color: white;
}

.pid_titlebar {
    background-color: #393b3a;
}

.tab-pid_tuning .number input {
    background-color: #3a3a3a;
    color: white;
}

.tab-pid_tuning .gui_box span {
    color: white;
}

.tab-pid_tuning .bottomarea {
    background-color: #393b3a;
}

.tab-pid_tuning .profile select {
    background-color: #3a3a3a;
    color: white;
}

.tab-pid_tuning .rate_profile select {
    background-color: #3a3a3a;
    color: white;
}

.tabarea {
    background: #393b3a;
}

.tab-pid_tuning .regular-button.disabled {
    background-color: #393b3a;
}

.tab-pid_tuning .sliderLabels th {
    background: #414443;
    color: white;
}

.tab-pid_tuning input:disabled,
.tab-pid_tuning .cf input:disabled,
.tab-pid_tuning select:disabled,
.tab-pid_tuning .cf select:disabled {
    color: rgb(105, 105, 105);
    background-color: #2d2d2d;
}

.tab-pid_tuning table.compensation tr {
    border-bottom: 1px solid #6b6b6b;
}

.tab-pid_tuning .slidersWarning {
    background: #542415;
}
