.tab-ports table td {
    border-bottom: 1px solid #9c9c9c;
    border-left: 1px solid #9c9c9c;
    border-right: 1px solid #9c9c9c;
}

.tab-ports table thead tr:first-child, .tab-ports table tr:nth-child(even) {
    background-color: #4e4e4e;
}

.tab-ports table thead tr:first-child {
    background-color: #393b3a;
}

.tab-ports select {
    border: 1px solid #9c9c9c;
}

.tab-ports .ports select {
    background-color: #3a3a3a;
    color: white;
}

.tab-ports .ports thead td {
    background-color: #ffbb2a;
    color: black;
}