.tab-power .number input {
    border: 1px solid #707070;
    background-color: #3a3a3a;
    color: white;
}

.tab-power .battery-configuration select {
    border: 1px solid #707070;
    background-color: #3a3a3a;
    color: white;
}
