.tab-servos table th {
    background: #828885;
}

.tab-servos table tr:nth-child(even) {
    background-color: #2f2f2f;
}

.tab-servos table .main {
    background-color: #393b3a;
}

.tab-servos table input[type="number"] {
    background-color: #3a3a3a;
    color: white;
}

.tab-servos .direction .rate {
    background-color: #3a3a3a;
    color: white;
}
