.tab-servos .title {
    border: 1px solid #9c9c9c;
    background-color: #ffbb2a;
    color: black;
}

.tab-servos table th {
    border: 1px solid #9c9c9c;
}

.tab-servos table td {
    border-bottom: 1px solid #9c9c9c;
    border-left: 1px solid #9c9c9c;
    border-right: 1px solid #9c9c9c;
}

.tab-servos table tr:nth-child(even) {
    background-color: #393b3a;
}

.tab-servos table tr:first-child {
    border-left: 1px solid #9c9c9c;
    border-right: 1px solid #9c9c9c;
    background-color: #393b3a;
}

.tab-servos table .main {
    background-color: #393b3a;
}

.tab-servos table input {
    border: 1px solid #9c9c9c;
}

.tab-servos table select {
    border: 1px solid #9c9c9c;
}

.tab-servos table input[type="number"] {
    background-color: #3a3a3a;
    color: white;
}

.tab-servos .direction .rate {
    background-color: #3a3a3a;
    color: white;
}