.tab-setup #interactive_block {
    background-color: #393b3a;
}

.tab-setup .attitude_info {
    color: white;
}

.tab-setup #interactive_block a.reset {
    color: white;
    background-color: #575757;
}

.tab-setup #interactive_block a.reset:hover {
    background-color: #393b3a;
}
