:root {
    --accent: #ffbb00;
    --subtleAccent: #9c9c9c;
    --quietHeader: #bf8606;
    --defaultText: #ffffff;
    --subtleText: #c0c0c0;
    --mutedText: #d6d6d6;
    --boxBackground: #3a3a3a;
    --alternativeBackground: #4e4e4e;
    --sideBackground: #404040;
    --paper: url(../../images/paper-dark.jpg);
    --ledAccent: #6e6e6e;
    --ledBackground: #424242;
}

body {
    color: white;
}

a {
    color: #ffc549;
}

#options-window {
    background-color: #393b3a;
}

#content {
    background-color: #393b3a;
}

#content.logopen {
    background-color: #393b3a;
}

#status-bar {
    background-color: #414443;
}

#status-bar div {
    border-right: 1px solid #9c9c9c;
}

dialog {
    background-color: #3a3d3c;
    color:white;
    border: 1px solid #ffbb2a;
}

/* Note */
.note {
    background-color: #4e4e4e;
    color: white;
}

.content_toolbar {
    background-color: #555857;
}

.content_toolbar .btn a {
    border: 1px solid #ffbb2a;
}

.content_toolbar .btn a.disabled {
    border: 1px solid #ffbb2a;
}

.gui_box {
    border: 1px solid #4d4d4d;
    background-color: #393b3a;
}

.gui_box grey .block {
    border: 1px solid #9c9c9c;
}

.gui_box grey .block .head {
    border-bottom: 1px solid #9c9c9c;
    background-color: #393b3a;
}

.gui_box grey .block.info {
    border: 1px solid #9c9c9c;
}

.gui_warning {
    background: #393b3a;
}

.gui_note {
    background: #393b3a;
}

.grey {
    background-color: #414443
}

.gui_box_bottombar {
    background-color: #393b3a;
}

.fixed_band {
    background-color: #393b3a;
}

.default_btn a.disabled {
    background-color: #393b3a;
    border: 1px solid #ffbb2a;
}

.small a {
    border: 1px solid #ffbb2a;
}

#quad-status_wrapper {
    color: #393b3a;
}

button {
    border: 1px solid #ffbb2a;
    background-color: #ffbb2a;
    color: black;
}

.helpicon {
    background-image: url(../images/icons/cf_icon_info_white.svg);
    opacity: 0.3;
}
.cf .helpicon {
    background-image: url(../images/icons/cf_icon_info_grey.svg);
    opacity: 0.4;
}
.cf .helpicon:hover {
    background-image: url(../images/icons/cf_icon_info_grey.svg);
    opacity: 1;
}

.gui_box_titlebar .helpicon {
    background-image: url(../images/icons/cf_icon_info_grey.svg);
}

.cf_table td {
    border-style: solid;
}

.noboarder td {
    border-style: unset;
}

.noUi-pips {
    color: #dbdbdb;
}

.jBox-container {
    background: #393b3a;
    color:white;
}

.jBox-Modal .jBox-title,
.jBox-Confirm .jBox-title {
    background: #393b3a;
    border-bottom: 1px solid #9c9c9c;
    text-shadow: 0 1px 1px #ffffff;
    color: white;
}
