/**
* Main theme colors
* This file is left as css on purpose to make it easier to work without
* the need to compile the less files and still can be use in storybook
*/

body {
    --primary-50: #fff8f3;
    --primary-100: #fff1e5;
    --primary-200: #ffe4c8;
    --primary-300: #ffd6a5;
    --primary-400: #ffc877;
    --primary-500: #ffbb00;
    --primary-600: #e8a803;
    --primary-700: #d29600;
    --primary-800: #bb8401;
    --primary-900: #a57200;
    --primary-950: #9c6b00;

    --primary-transparent-1: rgba(255, 187, 0, 0.1);
    --primary-transparent-2: rgba(255, 187, 0, 0.2);
    --primary-transparent-3: rgba(255, 187, 0, 0.3);
    --primary-transparent-4: rgba(255, 187, 0, 0.4);

    --surface-50: hsl(0, 0%, 100%);
    --surface-100: hsl(0, 0%, 98%);
    --surface-200: hsl(0, 0%, 95%);
    --surface-300: hsl(0, 0%, 92%);
    --surface-400: hsl(0, 0%, 84%);
    --surface-500: hsl(0, 0%, 75%);
    --surface-600: hsl(0, 0%, 65%);
    --surface-700: hsl(0, 0%, 55%);
    --surface-800: hsl(0, 0%, 40%);
    --surface-900: hsl(0, 0%, 30%);
    --surface-950: hsl(0, 0%, 20%);

    --text: hsl(0, 0%, 0%);

    --error-400: #ee2b55;
    --error-500: #e2123f;
    --error-600: #c10f36;

    --error-transparent-1: rgba(226, 18, 63, 0.1);
    --error-transparent-2: rgba(226, 18, 63, 0.2);
    --error-transparent-3: rgba(226, 18, 63, 0.3);
    --error-transparent-4: rgba(226, 18, 63, 0.4);

    --success-400: #adf042;
    --success-500: #96e212;
    --success-600: #79b210;

    --success-transparent-1: rgba(112, 226, 18, 0.1);
    --success-transparent-2: rgba(112, 226, 18, 0.2);
    --success-transparent-3: rgba(112, 226, 18, 0.3);
    --success-transparent-4: rgba(112, 226, 18, 0.4);

    --warning-500: #ff6600;
    --warning-600: #e65c00;

    --switcherysecond: var(--surface-400);

    --primary-action: var(--success-500);
    --primary-action-border: var(--success-600);
    --primary-action-hover: var(--success-400);
}

body.dark-theme {
    --surface-50: hsl(0, 0%, 4%);
    --surface-100: hsl(0, 0%, 8%);
    --surface-200: hsl(0, 0%, 12%);
    --surface-300: hsl(0, 0%, 14%);
    --surface-400: hsl(0, 0%, 20%);
    --surface-500: hsl(0, 0%, 24%);
    --surface-600: hsl(0, 0%, 35%);
    --surface-700: hsl(0, 0%, 45%);
    --surface-800: hsl(0, 0%, 60%);
    --surface-900: hsl(0, 0%, 70%);
    --surface-950: hsl(0, 0%, 80%);

    --text: hsl(0, 0%, 95%);
}

body[data-theme="amber"] {
    --primary-50: #fffbe8;
    --primary-100: #fff5d3;
    --primary-200: #ffeba9;
    --primary-300: #ffdf76;
    --primary-400: #ffd03d;
    --primary-500: #ffa724;
    --primary-600: #e69400;
    --primary-700: #cc8200;
    --primary-800: #a86700;
    --primary-900: #7a4600;
    --primary-950: #5c2f00;

    --primary-transparent-1: rgba(255, 167, 36, 0.1);
    --primary-transparent-2: rgba(255, 167, 36, 0.2);
    --primary-transparent-3: rgba(255, 167, 36, 0.3);
    --primary-transparent-4: rgba(255, 167, 36, 0.4);
}

body[data-theme="contrast"] {
    --surface-50: #000000;
    --surface-100: #000000;
    --surface-200: #141414;
    --surface-300: #141414;
    --surface-400: #808080;
    --surface-500: #808080;

    --success-400: #75ff75;
    --success-500: #00ff00;
    --success-600: #00cc00;

    --error-400: #ff7575;
    --error-500: #ff3333;
    --error-600: #cc0000;

    --switcherysecond: var(--surface-400);

    #tabs li.active a {
        color: #000;
        background-color: var(--primary-500);
    }

    li.active
        :is(
            .ic_setup,
            .ic_ports,
            .ic_config,
            .ic_pid,
            .ic_rx,
            .ic_modes,
            .ic_adjust,
            .ic_servo,
            .ic_gps,
            .ic_led,
            .ic_sensors,
            .ic_log,
            .ic_data,
            .ic_cli,
            .ic_motor,
            .ic_welcome,
            .ic_help,
            .ic_flasher,
            .ic_transponder,
            .ic_osd,
            .ic_vtx,
            .ic_power,
            .ic_failsafe,
            .ic_backup,
            .ic_wizzard,
            .ic_advanced,
            .ic_mission,
            .ic_user
        )::before {
        background-color: var(--surface-100);
    }

    .darkgrey_box {
        color: var(--surface-100);
    }

    .btn a.disabled {
        color: var(--surface-100) !important;
    }
}
