.tab-auxiliary {
    float: left;
    width: 100%;
}

.tab-auxiliary .help {
    padding: 10px;
    background-color: #ffcb18;
    margin-bottom: 10px;
}

.tab-auxiliary .toolbox {
    font-weight: bold;
    color: rgb(105, 99, 99);
    padding: 10px 5px;
}

.tab-auxiliary .range .marker, .tab-auxiliary .channel-slider .noUi-connect {
    background: var(--accent);
    border-radius: 3px;
}

.tab-auxiliary .mode.on .info {
    background: var(--accent);
    color: black;
}

.tab-auxiliary .mode.on:nth-child(odd) .info {
    background: var(--accent);
}

.tab-auxiliary .mode.off .info {
    background: #828885;
    color: white;
}

.tab-auxiliary .mode.off:nth-child(odd) .info {
    background: #828885;
}

.tab-auxiliary .mode.disabled .info {
    background: var(--error);
    color: var(--quietText);}

.tab-auxiliary .mode.disabled:nth-child(odd) .info {
    background: var(--error);
}

#tab-auxiliary-templates {
    display: none;
}

.tab-auxiliary .modes {
    width: 100%;
}

.tab-auxiliary .mode {
    background-color: #f9f9f9;
    vertical-align: top;
    display: flex;
}

.tab-auxiliary .mode .name {
    min-height: 80px;
    padding: 5px 0;
}

.tab-auxiliary .mode .info {
    text-align: center;
    width: 10%;
    white-space: nowrap;
    position: relative;
    background-color: #e4e4e4;
    border-bottom: 5px solid white;
    color: grey;
    min-width: 140px;
}

.tab-auxiliary .mode .info .name {
    font-weight: bold;
    font-size: 1.0em;
}

.tab-auxiliary .mode .info .buttons {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.tab-auxiliary .mode .info .buttons a {
    padding: 2px 5px;
    border-radius: 4px;
    cursor: pointer;
    margin: 3px;
    display: block;
}

.tab-auxiliary .mode .info .buttons a:hover {
    background-color: darkgrey;
}

.tab-auxiliary .ranges {
    padding-right: 0;
    border-bottom: 5px solid white;
    width: 90%;
    max-width: calc(100% - 140px);
}

.tab-auxiliary .range {
    position: relative;
    height: 70px;
    padding-top: 15px;
    padding-left: 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid var(--subtleAccent);
    background-color: #ececec;
    padding-bottom: 5px;
}

.tab-auxiliary .link {
    position: relative;
    height: 70px;
    padding-top: 15px;
    padding-left: 15px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid var(--subtleAccent);
    background-color: #ececec;
    padding-bottom: 5px;
}

.tab-auxiliary .range:first-child {
    border-top: 0;
}

.tab-auxiliary .range:last-child {
    border-bottom: 0;
}

.tab-auxiliary .link:first-child {
    border-top: 0;
}

.tab-auxiliary .link:last-child {
    border-bottom: 0;
}

.tab-auxiliary .range>.buttons {
    position: absolute;
    top: 0;
    right: 0;
}

.tab-auxiliary .range>.buttons .a {
    padding: 2px;
}

.tab-auxiliary .mode .range .channelInfo {
    float: left;
    min-width: 90px;
    text-align: center;
    margin-top: -4px;
    margin-left: 5px;
}

.tab-auxiliary .range .channel {
    border: 1px solid var(--subtleAccent);
    border-radius: 3px;
    margin-bottom: 3px;
}

.tab-auxiliary .logic {
    border: 1px solid var(--subtleAccent);
    border-radius: 3px;
}

.tab-auxiliary .range .marker {
    position: absolute;
    left: 50%;
    top: 27px;
    height: 13px;
    width: 6px;
    margin-left: -3px;
    z-index: 1000;
}

.tab-auxiliary .range .channel-slider {
    float: left;
    width: 77%;
    margin-left: 20px;
    margin-top: -4px;
}

.tab-auxiliary .mode .link .modeInfo {
    float: left;
}

.tab-auxiliary .link .linkedTo {
    border: 1px solid var(--subtleAccent);
    border-radius: 3px;
    margin-bottom: 3px;
}

.tab-auxiliary>.buttons {
    margin-top: 10px;
}

.tab-auxiliary>.buttons a {
    float: right;
    height: 28px;
    line-height: 28px;
    padding: 0 15px 0 15px;
    display: block;
    color: #000;
}

.tab-auxiliary .buttons a {
    text-align: center;
    font-weight: bold;
    background-color: #fff;
    color: black;
    opacity: 0.8;
    transition: all ease 0.3s;
}

.tab-auxiliary .buttons a:hover {
    background-color: #fff;
    opacity: 1.0;
    color: black;
    transition: all ease 0.3s;
}

.tab-auxiliary .delete a {
    height: 15px;
    width: 15px;
    transition: all ease 0.3s;
    opacity: 0.3;
    position: relative;
    float: right;
    margin-right: 5px;
    margin-top: -9px;
    background-image: url('../../images/icons/close1.svg');
    background-repeat: no-repeat;
    background-position: center 100%;
    display: block;
}

.tab-auxiliary .delete a:hover {
    transition: all ease 0.3s;
    opacity: 0.6;
}

.tab-auxiliary .fixed_band {
    bottom: 0;
}

.tab-auxiliary .save_btn a {
    line-height: 28px;
}

@media only screen and (max-width: 1055px) , only screen and (max-device-width: 1055px) {
    .tab-auxiliary .fixed_band {
        width: calc(100% - -30px);
        margin: 0 0 0 -15px;
    }
    .tab-auxiliary .fixed_band .save_btn a {
        margin-right: 15px;
    }
}

@media all and (max-width: 575px) {
    .tab-auxiliary .mode {
        flex-wrap: wrap;
    }
    .tab-auxiliary .mode .info {
        width: 100%;
        border-bottom: 0;
    }
    .tab-auxiliary .mode .info .name {
        text-align: left;
        padding-left: 10px;
        min-height: auto;
    }
    .tab-auxiliary .mode .info .buttons {
        right: 0;
        width: auto;
        display: flex;
    }
    .tab-auxiliary .mode .ranges {
        width: 100%;
        max-width: 100%;
    }
    .tab-auxiliary .range {
        display: flex;
        height: auto;
        flex-wrap: wrap;
    }
    .tab-auxiliary .mode .range .channelInfo {
        display: flex;
        margin: 0 10px;
        width: 100%;
        flex-wrap: wrap;
    }
    .tab-auxiliary .limits {
        width: 100%;
        justify-content: space-between;
        display: flex;
    }
    .tab-auxiliary .range .channel-slider {
        width: 100%;
        margin: 10px 10px 45px 10px;
    }
    .tab-auxiliary .delete a {
        margin-top: 15px;
        margin-right: 10px;
        position: absolute;
        float: none;
        top: 0;
        right: 0;
    }
    .tab-auxiliary .link {
        height: auto;
        display: flex;
        padding-bottom: 10px;
    }
}
