.tab-cli {
    height: 100%;
}

.tab-cli .content_wrapper {
    height: calc(100% - 92px);
}

.tab-cli p {
    padding: 0px;
    border: 0px dotted silver;
}

.tab-cli .note {
    margin-bottom: 20px;
}

.tab-cli .backdrop {
    border: 1px solid silver;
    background-color: rgba(0, 0, 0, 0.75);
    margin-top: 0px;
    height: calc(100% - 90px); /* - (p, textarea) */
    background-image: url("../../images/light-wide-1.svg");
    background-repeat: no-repeat;
    background-position: 50% 80%;
    background-size: 600px;
    border-radius: 5px;
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.80);
    width: 100%;
}

.tab-cli .window {
    height: 100%;
    width: 100%;
    padding: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: monospace;
    color: white;
    box-sizing: border-box;
    -webkit-user-select: text;
    float: left;
}

.tab-cli textarea {
    -webkit-box-sizing: border-box;
    width: 100%;
    margin-top: 8px;
    height: 22px;
    line-height: 20px;
    padding-left: 5px;
    border: 1px solid silver;
    resize: none;
}

.tab-cli #content-watermark {
    z-index: 0;
}

.tab-cli .window .wrapper {
    white-space: pre-wrap;
}

.tab-cli .save {
    color: white;
}

@media only screen and (max-width: 1055px) , only screen and (max-device-width: 1055px) {

.tab-cli .content_wrapper {
    height: calc(100% - 87px);
}
.tab-cli .content_toolbar {
    margin-top: 5px;
}

}

