.tab-configuration {
	.alignicon {
		width: 15px;
		height: 15px;
        margin: 3px;
	}
	.pitch {
		background-image: url(../../images/icons/cf_icon_pitch.svg);
		background-repeat: no-repeat;
		background-position: center;
	}
	.yaw {
		background-image: url(../../images/icons/cf_icon_yaw.svg);
		background-repeat: no-repeat;
		background-position: center;
	}
	.roll {
		background-image: url(../../images/icons/cf_icon_roll.svg);
		background-repeat: no-repeat;
		background-position: center;
	}
    .board_align_content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
        gap: 0.5rem;
        .board_align_inputs {
            display: flex;
            label {
                white-space: nowrap;
            }
        }
    }
    .gyro_align_content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    table {
        td {
            height: 1.75rem;
        }
        tbody.features {
            tr {
                td:nth-child(3) {
                    font-weight: bold;
                }
            }
        }
        tbody.beeper-configuration {
            tr {
                td:nth-child(2) {
                    font-weight: bold;
                    padding-left: 1.5rem;
                    padding-right: 1.5rem;
                }
            }
        }
    }
    thead {
        display: none;
    }
    @media all and (max-width: 575px) {
        .grid-box {
            &.col2 {
                grid-template-columns: 1fr !important;
            }
        }
    }
}
