.tab-firmware_flasher .info {
    padding: 2px 18px;
    position: relative;
    flex-grow: 100;
}

.tab-firmware_flasher .info .progressLabel {
    position: absolute;
    width: calc(100% - 36px);
    height: 26px;
    top: 2px;
    left: 0;
    text-align: center;
    line-height: 24px;
    color: white;
    font-weight: bold;
    margin-left: 18px;

    /* text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.9);*/
}

.tab-firmware_flasher .spacer_box_title {
    float: none;
}

.tab-firmware_flasher .info .progressLabel a {
    color: white;
}

.tab-firmware_flasher .info .progressLabel a:hover {
    text-decoration: underline;
}

.tab-firmware_flasher .info .progressLabel.valid {
    background-color: #00d000;
    border-radius: 5px;
}

.tab-firmware_flasher .info .progressLabel.invalid {
    background-color: #A62E32;
    border-radius: 5px;
}

.tab-firmware_flasher .info .progressLabel.actionRequired {
    background-color: #0081FF;
    border-radius: 5px;
}

.tab-firmware_flasher .info .progress {
    width: 100%;
    height: 26px;
    border-radius: 5px;
    border: 1px solid var(--subtleAccent);
    -webkit-appearance: none;
}

.tab-firmware_flasher .info .progress::-webkit-progress-bar {
    background-color: #4f4f4f;
    border-radius: 4px;
    box-shadow: inset 0px 0px 5px #2f2f2f;
}

.tab-firmware_flasher .info .progress::-webkit-progress-value {
    background-color: #F86008;
    border-radius: 4px;
}

.tab-firmware_flasher ul li {
    list-style: initial;
    list-style-type: circle;
    margin-left: 30px;
}

.tab-firmware_flasher .options {
    position: relative;
    margin-bottom: 10px;
    line-height: 18px;
    text-align: left;
}

.tab-firmware_flasher td {
    text-align: left;
}

.tab-firmware_flasher .options label input {
    float: left;
    margin-top: 2px;
}

.tab-firmware_flasher .options label span {
    font-weight: bold;
    margin-left: 6px;
}

.tab-firmware_flasher .options select {
    width: 300px;
    height: 20px;
    border: 1px solid var(--subtleAccent);
    border-radius: 3px;
}

.tab-firmware_flasher .options .releases select {
    width: 280px;
}

.tab-firmware_flasher .option.releases {
    margin: 0 0 2px 0;
    line-height: 20px;
}

.tab-firmware_flasher .options .description {
    position: relative;
    left: 0px;
    font-style: italic;
    color: #818181;
}

.tab-firmware_flasher .options select option.cached {
    font-weight: bold;
}

.tab-firmware_flasher .cf_table td:last-child {
    text-align: left;
}

.tab-firmware_flasher .options .flash_on_connect_wrapper {
    display: none;
}

.tab-firmware_flasher .options .manual_baud_rate select {
    width: 75px;
    margin-left: 19px;
}

.tab-firmware_flasher .release_info {
    display: none;
}

.tab-firmware_flasher .release_info .title {
    line-height: 20px;
    text-align: center;
    font-weight: bold;
    color: white;
    border-bottom: 1px solid var(--subtleAccent);
    background-color: #3f4241;
}

.tab-firmware_flasher .release_info .target {
    color: blue;
}

.tab-firmware_flasher .release_info p {
    padding: 5px;
}

.tab-firmware_flasher .release_info p a {
    font-weight: bold;
}

.tab-firmware_flasher .release_info p a:hover {
    text-decoration: underline;
}

.tab-firmware_flasher .release_info .notes {
    padding: 5px;
}

.tab-firmware_flasher .git_info {
    display: none;
    margin-bottom: 10px;
    border: 1px solid var(--subtleAccent);
}

.tab-firmware_flasher .git_info .title {
    line-height: 20px;
    text-align: center;
    font-weight: bold;
    color: white;
    border-bottom: 1px solid var(--subtleAccent);
    background-color: #3f4241;
}

.tab-firmware_flasher .git_info p {
    padding: 5px;
}

.tab-firmware_flasher .git_info p a {
    font-weight: bold;
}

.tab-firmware_flasher .git_info p a:hover {
    text-decoration: underline;
}

.tab-firmware_flasher .buttons {
    width: calc(100% - 20px);
    margin-top: 10px;
    bottom: 10px;
}

.tab-firmware_flasher .buttons a {
    display: block;
    float: left;
    margin: 0 10px 0 0;
    padding: 0 15px 0 15px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-weight: bold;
    border: 1px solid var(--subtleAccent);
    background-color: #ececec;
}

.tab-firmware_flasher .buttons a:hover {
    background-color: #dedcdc;
}

.tab-firmware_flasher .buttons a.flash_firmware.locked {
    background-color: #b8b8b8;
}

.tab-firmware_flasher .buttons a.flash_firmware.locked:hover {
    cursor: default;
    background-color: #b8b8b8;
}

.tab-firmware_flasher .buttons a.load_remote_file.locked {
    background-color: #b8b8b8;
}

.tab-firmware_flasher .buttons a.load_remote_file.locked:hover {
    cursor: default;
    background-color: #b8b8b8;
}

.tab-firmware_flasher .buttons .back {
    float: right;
    margin: 0;
}

.btn .disabled {
    cursor: default;
    color: #fff;
    background-color: #AFAFAF;
    border: none;
    pointer-events: none;
    text-shadow: none;
    opacity: 0.5;
}
