.tab-help .gui_box {
    min-height: 500px;
    margin-bottom: 0;
}

.tab-help ul {
    margin-bottom:15px;
}

.tab-help li {
    border-top: 1px dotted var(--subtleAccent);
    padding-top: 5px;
    padding-bottom: 5px;
    background-image: url(../../images/arrow.svg);
    background-repeat: no-repeat;
    background-position: 0 8px;
    background-size: 12px;
}

.tab-help li span {
    margin-left: 17px;
    display:block;
}

.tab-help li span a {
    color: var(--accent);
}

.tab-help .subline {
    margin-bottom: 5px;
}

/** (phones) **/
@media all and (max-width: 575px) {
    .tab-help .gui_box {
        min-height: auto;
        margin-bottom: 15px;
    }
}
