/* general layout */
.tab-landing {
    min-height: 100%;
    overflow: hidden;
}

.tab-landing .content_wrapper {
    padding: 0;
    min-height: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: #2e2e2e;
}

.tab-landing .content_top {
    height: 140px;
    padding: 20px;
    background: #fff url(../../images/pattern.png);
    background-size: 300px;
}

.tab-landing .content_mid {
    background-color: var(--accent);
    overflow: hidden;
    padding: 0 15px;
}

.tab-landing .content_foot {
    clear: both;
    padding: 20px 20px 5px;
}

/* hero block */
.tab-landing .logowrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 800px;
    color: var(--defaultText);
    font-size: 14px;
    font-weight: 300;
}

.tab-landing .logowrapper img {
    width: 600px;
    margin: 5px;
}

.tab-landing .logowrapper span {
    font-size: 22px;
    font-weight: 300;
}

.text1, .text2, .text3, .text4 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: normal;
    font-size: 12px;
}

/* text columns */
.tab-landing .content_mid .column .wrap2 {
    padding: 10px;
}

.tab-landing .content_mid h2 {
    margin-bottom: 5px;
    font-size: 13px;
}

.tab-landing .content_mid h3 {
    font-size: 12px;
    margin-bottom: 5px;

}

.tab-landing .content_mid .text2 ul {
    margin-top: 2px;
}

.tab-landing .content_mid .text2 li {
    padding: 2px 0;
    list-style: initial;
    list-style-type: circle;
    margin-left: 30px;
}

.tab-landing .content_mid .text3 .wrap2 {
    border: 1px solid var(--subtleAccent);
    border-radius: 5px;
    background: white;
    min-height: 187px;
    font-size: 11px;
}

.tab-landing .content_mid .text3 .donate {
    margin-top: 10px;
    text-align: center;
}

.tab-landing .content_mid_bottom {
    padding: 0 15px;
}

.tab-landing .content_mid_bottom .logo {
    float: left;
    width: 40px;
}

.tab-landing .content_mid_bottom .text4 {
    margin-top: 0;
    margin-left: 5px;
    display: inline-block;
}

.tab-landing .languageSwitcher .selected_language {
    font-weight: bold;
}
.tab-landing .languageSwitcher {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: silver;
}
.tab-landing .languageSwitcher a {
    color: silver;
    font-weight: normal;
    white-space: nowrap;
}
.tab-landing .languageSwitcher a:not(:last-child):after {
    content: ", ";
    font-weight: normal;
}

/** (phones) **/
@media all and (max-width: 575px) {
    .tab-landing .logowrapper, .tab-landing .logowrapper img {
        width: auto;
    }
}
