.tab-motors .ui-grid-col {
    margin-bottom: 0;
}
/*
.tab-motors input,
*/
.tab-motors select {
    border: 1px solid var(--subtleAccent);
    width: 230px;
    height: 20px;
    float: left;
    margin-right: 15px;
    border-radius: 3px;
}

.tab-motors table {
    margin-bottom: 0;
    width: 100%;
    float: left;
}

.tab-motors table, .tab-motors table th, .tab-motors table td {
    padding: 0;
    text-align: left;
    border-collapse: collapse;
}

.tab-motors table th {
    padding: 3px;
    border-bottom: 1px solid var(--subtleAccent);
}

.tab-motors table td {
    padding: 5px 3px;
    border-bottom: 1px solid var(--subtleAccent);
}

.tab-motors table tr td:first-child {
    text-align: left;
    width: 55px;
}

.tab-motors table thead tr:first-child {
    background-color: #ececec;
}

.tab-motors {
    position: relative;
}

.tab-motors .groupTitle {
    padding: 0 0 5px 0;
    margin: 0 0 10px 0;
    font-size: 16px;
    border-bottom: 1px solid var(--subtleAccent);
}

.tab-motors .mixerList {
    width: 44%;
}

.tab-motors .mixerPreview img {
    width: 150px;
    height: 150px;
    margin-left: 48px;
}

.tab-motors .featuresMultiple {
    border-collapse: collapse;
    margin-bottom: 5px;
    margin-top: -5px;
    padding: 0;
}

.tab-motors dl.features dt {
    float: left;
    width: 10px;
    height: 18px;
    line-height: 18px;
}

.tab-motors dl.features dt input {
    margin-top: 2px;
}

.tab-motors dl.features dd {
    margin: 0 0 0 20px;
    height: 18px;
    line-height: 18px;
}

.tab-motors .number input {
    width: 55px;
    padding-left: 3px;
    height: 20px;
    line-height: 20px;
    text-align: left;
    border-radius: 3px;
    margin-right: 11px;
    font-size: 12px;
    font-weight: normal;
}

.tab-motors .number .disabled {
    width: 48px;
    padding: 0 5px;
    background-color: #ececec;
}

.tab-motors .number span {
    margin-left: 0;
}

.tab-motors .disarm .checkboxPwm {
    margin-top: 2px;
    margin-right: 5px;
}

.tab-motors .disarm .checkbox div {
    margin-bottom: 0;
    margin-top: 0;
}

.tab-motors .disarm .checkbox div input {
    margin: 0;
    float: left;
}

.tab-motors .disarm .checkbox span {
    margin-left: 0;
}

.tab-motors .freelabel {
    margin-left: 10px;
    position: relative;
}

.tab-motors span {
    margin: 0;
}

.tab-motors .disarm .checkbox {
    float: left;
    padding-left: 0;
    margin-top: -5px;
    margin-right: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--subtleAccent);
    width: 100%;
}

.tab-motors .spacer_box {
    padding-bottom: 10px;
    float: left;
    width: calc(100% - 20px);
}

.tab-motors .disarm {
    margin-bottom: 5px;
    float: left;
    border-bottom: 1px solid var(--subtleAccent);
    width: 100%;
}

.tab-motors .disarmdelay {
    margin-top: 5px;
    float: left;
    width: 100%;
    border-bottom: 1px solid var(--subtleAccent);
}

.tab-motors .number,
.tab-motors .select
{
    margin-bottom: 5px;
    clear: left;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--subtleAccent);
    width: 100%;
    float: left;
}

.tab-motors .selectProtocol {
    margin-bottom: 5px;
    clear: left;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--subtleAccent);
    width: 100%;
    float: left;
}

.tab-motors .number:last-child,
.tab-motors .select:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.tab-motors .gui_box_titlebar {
    margin-bottom: 0;
}

.tab-motors .numberspacer {
    float: left;
    width: 65px;
    height: 21px;
}

.tab-motors thead {
    display: none;
}

.tab-motors .gui_box {
    margin-bottom: 10px;
    float: left;
}

.tab-motors .gui_box span {
    font-style: normal;
    font-weight: normal;
    line-height: 19px;
    color: #4f4f4f;
    font-size: 11px;
}

.tab-motors .alignicon {
    width: 15px;
    height: 15px;
    float: left;
    margin: 3px;
}

.tab-configuration .mixer .gui_box, .tab-configuration .motorstop .gui_box {
    float: left;
}

.tab-motors ._3dSettings {
    margin-top: 10px;
    float: left;
    width: 100%;
}

.tab-motors .modelAndGraph {
    float: left;
    width: 100%;
    margin-bottom: 0;
}

.tab-motors .spacer {
    width: calc(100% - 34px);
    margin: 10px;
}

.tab-motors #graph {
    float: left;
    width: calc(100% - 160px);
}

.tab-motors #dialogMotorOutputReorder-closebtn {
    margin-right: 0px;
    margin-bottom: 0px;
}

.tab-motors dialog {
    width: 400px;
    height: 440px;
}

.tab-motors #dialogMotorOutputReorderContentWrapper {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
}

.tab-motors #dialogMotorOutputReorderContent {
    flex-grow: 1;
}

.tab-motors #escDshotDirectionDialog-closebtn {
    margin-right: 0px;
    margin-bottom: 0px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.tab-motors #escDshotDirectionDialog-ContentWrapper {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    position: relative;
}

.tab-motors #escDshotDirectionDialog-Content {
    flex-grow: 1;
}

.tab-motors #dialog-settings-changed {
    width: 400px;
    height: 100px;
}

.tab-motors #dialog-settings-changed-confirmbtn {
    margin-right: 0px;
    margin-bottom: 0px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.tab-motors #dialog-settings-changed-content-wrapper {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    position: relative;
}

.tab-motors #dialog-settings-changed-content {
    flex-grow: 1;
}

.tab-motors .tool-buttons {
    float: right;
    margin-bottom: -3%;
}

/*Plot Control*/

.tab-motors .plot_control {
    float: right;
    width: 160px;
    height: 178px;
    margin: 0;
    background-color: #ECECEC;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.tab-motors .plot_control .table {
  display:table;
  width: 100%;
  table-layout:fixed;
  border-collapse:separate;
  border-spacing:5px;
  box-sizing: border-box;
}

.tab-motors .plot_control .row-container {
  display: table-row-group;
}

.tab-motors .plot_control .motor-button a {
  background-color: var(--accent);
  border-radius: 3px;
  border: 1px solid #e8b423;
  color: #000;
  font-size: 10px;
  line-height: 17px;
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  text-transform: uppercase;
  letter-spacing: 0.03em;
  display: block;
  text-align: center;
}
.tab-motors .plot_control .row {
  display: table-row;
}

.tab-motors .plot_control .left-cell {
  display: table-cell;
  vertical-align: middle;
}
.tab-motors .plot_control .right-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  width: 95px;
  font-size: smaller;
}
.tab-motors .plot_control select {
  width: 100%;
  border: 1px solid var(--subtleAccent);
  border-radius: 3px;
}

.tab-motors .plot_control .value {
  padding: 3px;
  color: #fff;
  border-radius: 3px;
}

.tab-motors .plot_control .x {
    background-color: #00A8F0;
}

.tab-motors .plot_control .y {
    background-color: #C0D800;
}

.tab-motors .plot_control .z {
    background-color: #CB4B4B;
}

.tab-motors .plot_control .rms {
    background-color: #00D800;
}

/* Power info */
.tab-motors .power_info {
    float: left;
    margin-left: 1em;
}

.tab-motors .power_info .power_text {
    font-weight: bold;
}

.tab-motors .power_info .power_value {
    margin-right: 2em;
    margin-left: 1em;
    display: inline-block;
    text-align: left;
    width: 50px;
}

/*Motors*/

.tab-motors svg {
    float: left;
    width: calc(100% - 168px); /* (plot control, margin)*/
    height: 140px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.tab-motors .grid .tick {
    stroke: silver;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.tab-motors .grid path {
    stroke-width: 0;
}

.tab-motors .data .line {
    stroke-width: 2px;
    fill: none;
}

.tab-motors .axis path, .tab-motors .axis line {
    fill: none;
    stroke: #ccc;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.tab-motors text {
    stroke: none;
    fill: #828885;
    font-size: 10px;
}

.tab-motors .line:nth-child(1) {
    stroke: #00A8F0;
}

.tab-motors .line:nth-child(2) {
    stroke: #C0D800;
}

.tab-motors .line:nth-child(3) {
    stroke: #CB4B4B;
}

.tab-motors .motorblock {
    margin-bottom: 0;
    background-color: #ECECEC;
}

.tab-motors .left.motors {
    float: left;
    width: 100%;
}

.tab-motors .title {
    padding-bottom: 2px;
    text-align: center;
    font-weight: bold;
}

.tab-motors .title2 {
    padding-bottom: 2px;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
}

.tab-motors .titles {
    height: 20px;
}

.tab-motors .titles li {
    float: left;
    width: calc((100% / 9) - 10px);
    margin-right: 10px;
    text-align: center;
}

.tab-motors .titles .active {
    color: green;
}

.tab-motors .m-block {
    float: left;
    width: calc((100% / 9) - 10px);
    height: 100px;
    margin-right: 10px;
    text-align: center;
    background-color: #f4f4f4;
    border-radius: 3px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.tab-motors .m-block .meter-bar {
    position: relative;
    width: 100%;
    height: 100px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: #E0E0E0;
    border-radius: 3px;
    border: 1px solid #F5F5F5;
}

.tab-motors .m-block .label {
    position: absolute;
    width: 100%;
    bottom: 45px;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    color: #474747;
}

.tab-motors .m-block .label.rpm_info {
    bottom: 28px;
}

.tab-motors .m-block .indicator .label {
    color: white;
}

.tab-motors .indicator {
    position: absolute;
    overflow: hidden;
    width: 100%;
    text-align: center;
    border-radius: 2px;
}

.tab-motors .motor_testing {
    margin-top: 5px;
    margin-bottom: 0;
    padding: 0;
    border: 0;
    list-style: none;
    outline: none;
}

.tab-motors .motor_testing .left {
    width: 100%;
}

.tab-motors .motor_testing .sliders input {
    -webkit-appearance: slider-vertical;
    width: calc((100% / 9) - 13px);
    height: 73px;
    margin-left: 10px;
}

.tab-motors .motor_testing .sliders input:first-child {
    margin-left: 0;
}

.tab-motors .motor_testing .values {
    margin-top: 5px;
}

.tab-motors .motor_testing .telemetry {
    display: flow-root;
    margin-bottom: 5px;
}

.tab-motors .motor_testing .telemetry .warning {
    color: var(--error);
}

.tab-motors .motor_testing .values li:first-child,
.tab-motors .motor_testing .telemetry li:first-child {
    margin-left: 0;
}

.tab-motors .motor_testing .values li,
.tab-motors .motor_testing .telemetry li {
    float: left;
    width: calc((100% / 9) - 10px);
    margin-left: 10px;
    text-align: center;
    font-size: 10px;
}

.tab-motors .motor_testing .telemetry li {
    white-space: pre;
}

.tab-motors .motor_testing .notice {
    float: right;
    padding: 5px;
    border: 2px solid var(--subtleAccent);
    border-radius: 3px;
    background-color: #FFFFFF;
    font-size: 11px;
    margin-top: 10px;
}

.tab-motors .motor_testing .notice p {
    margin-bottom: 10px;
}

.tab-motors .motor_testing .notice .motorsEnableTestMode {
    margin-left: 10px;
}

.tab-motors .motorDialogButtons {
    float: right;
}

@media all and (max-width: 575px) {
    .tab-motors .modelAndGraph {
        display: flex;
        flex-wrap: wrap;
    }
    .tab-motors select.escprotocol {
        width: 100%;
        margin-right: 0;
    }
    .tab-motors .mixer .gui_box, .tab-motors .motorstop .gui_box {
        min-height: auto;
    }
    .tab-motors #graph {
        width: 100%;
        order: 2;
    }
    .tab-motors .plot_control {
        order: 1;
    }
    .tab-motors .power_info {
        order: 3;
        width: 100%;
        margin-top: 10px;
    }
    .tab-motors .motorblock {
        margin-bottom: 15px;
    }
    .tab-motors .motorblock > .spacer {
        display: flex;
        flex-wrap: wrap;
    }
    .tab-motors .left.motors {
        width: 100%;
        order: 1;
    }
    .tab-motors .motor_testing {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        order: 2;
    }
    .tab-motors .motor_testing .notice {
        width: 100%;
        margin-top: 15px;
    }
    .tab-motors .titles li, .tab-motors .m-block {
        width: calc((100% - 80px) / 9);
    }
    .tab-motors .titles li:last-child, .tab-motors .m-block:last-child {
        margin-right: 0;
    }
    .tab-motors .motor_testing .left {
        width: 100%;
    }
    .tab-motors .motor_testing .sliders {
        margin-left: 2px;
        margin-right: -2px;
    }
    .tab-motors .motor_testing .sliders input {
        width: calc((100% - 108px) / 9);
    }
    .tab-motors .motor_testing .values li, .tab-motors .motor_testing .telemetry li {
        width: calc((100% - 80px) / 9);
    }
    .tab-motors .motor_testing .values li:last-child {
        margin-left: 4px;
    }
    .tab-motors .motor_testing .telemetry li {
        font-size: 6px;
    }
}

@media only screen and (max-width: 1055px) , only screen and (max-device-width: 1055px) {
    .tab-motors .gui_box span {
        line-height: 17px;
    }
    .tab-motors .mixer .gui_box, .tab-motors .motorstop .gui_box {
        float: left;
    }
}
