.tab-osd .info {
  margin: 10px 0 0 0;
  position: relative;
}

.tab-osd .info .progressLabel {
  position: absolute;
  width: 100%;
  height: 26px;
  top: 0px;
  left: 0;
  text-align: center;
  line-height: 24px;
  color: white;
  font-weight: bold;

  /* text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.9);*/
}

.tab-osd .spacer_box_title {
  float: none;
  font-weight: normal;
}

.tab-osd .spacer_box_title .profileOsdHeader {
    padding: 6px;
}

.tab-osd .info {
  float: left;
  width: 100%;
}

.info .progressLabel {
    color: white;
}

.info .progressLabel a {
  color: white;
}

.info .progressLabel a:hover {
  text-decoration: underline;
}

.info .progress {
  width: 100%;
  height: 26px;
  border-radius: 5px;
  border: 1px solid silver;
}

.info .progress {
  -webkit-appearance: none;
}

.info .progress::-webkit-progress-bar {
  background-color: #4f4f4f;
  border-radius: 4px;
  box-shadow: inset 0px 0px 5px #2f2f2f;
}

.info .progress::-webkit-progress-value {
  background-color: #F86008;
  border-radius: 4px;
}

.info .progress.valid::-webkit-progress-bar {
  background-color: #56ac1d;
  border-radius: 4px;
}

.info .progress.valid::-webkit-progress-value {
  background-color: #56ac1d;
  border-radius: 4px;
}

.info .progress.invalid::-webkit-progress-bar {
  background-color: #A62E32;
  border-radius: 4px;
}

.info .progress.invalid::-webkit-progress-value {
  background-color: #A62E32;
  border-radius: 4px;
}

.tab-osd ul li {
  list-style: initial;
  list-style-type: circle;
  margin-left: 30px;
}

.tab-osd .options {
  position: relative;
  margin-bottom: 10px;
  line-height: 18px;
  text-align: left;
}

.tab-osd td {
  text-align: left;
}

.tab-osd .options label input {
  float: left;
  margin-top: 2px;
}

.tab-osd .options label span {
  font-weight: bold;
  margin-left: 6px;
}

.tab-osd .options select {
  width: 300px;
  height: 20px;
  border: 1px solid silver;
}

.tab-osd .options .releases select {
  width: 280px;
}

.tab-osd .option.releases {
  margin: 0 0 2px 0;
  line-height: 20px;
}

.tab-osd .options .description {
  position: relative;
  left: 0px;
  font-style: italic;
  color: #818181;
}

.tab-osd .cf_table td:last-child {
  text-align: left;
}

.tab-osd .options .flash_on_connect_wrapper {
  display: none;
}

.tab-osd .options .manual_baud_rate select {
  width: 75px;
  margin-left: 19px;
}

.tab-osd .release_info {
  display: none;
}

.tab-osd .release_info .title {
  line-height: 20px;
  text-align: center;
  font-weight: bold;
  color: white;
  border-bottom: 1px solid silver;
  background-color: #3f4241;
}

.tab-osd .release_info .target {
  color: blue;
}

.tab-osd .release_info p {
  padding: 5px;
}

.tab-osd .release_info p a {
  font-weight: bold;
}

.tab-osd .release_info p a:hover {
  text-decoration: underline;
}

.tab-osd .release_info .notes {
  padding: 5px;
}

.tab-osd .git_info {
  display: none;
  margin-bottom: 10px;
  border: 1px solid silver;
}

.tab-osd .git_info .title {
  line-height: 20px;
  text-align: center;
  font-weight: bold;
  color: white;
  border-bottom: 1px solid silver;
  background-color: #3f4241;
}

.tab-osd .git_info p {
  padding: 5px;
}

.tab-osd .git_info p a {
  font-weight: bold;
}

.tab-osd .git_info p a:hover {
  text-decoration: underline;
}

.tab-osd .btn .disabled {
  cursor: default;
  color: #fff;
  background-color: #AFAFAF;
  border: none;
  pointer-events: none;
  text-shadow: none;
  opacity: 0.5;
}

.tab-osd .display-layout label {
  margin: .25em .1em;
  display: inline-block;
}

.tab-osd .display-layout input {
  margin: .1em 1em;
}

.tab-osd .display-layout input.position{
  width: 5em;
  border-bottom: 1px solid var(--subtleAccent);
}

.tab-osd .hide {
  display: none;
}

.tab-osd .note {
  padding: 1em;
}

.tab-osd .col {
  display: inline-block;
}

.tab-osd .left {
  float: left;
}

.tab-osd .right {
  float: right;
  margin-top: -7px;
}

.tab-osd .preview .gui_box_titlebar {
  position: relative;
}

.tab-osd .preview .gui_box_titlebar label {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    vertical-align: text-bottom;
}

.tab-osd .preview .gui_box_titlebar select {
    max-width: 100px;
    border-radius: 2px;
    font-size: 11px;
    font-weight: normal;
    font-family: 'Open Sans', 'Segoe UI', Tahoma, sans-serif;
}

.tab-osd .preview .gui_box_bottombar {
  text-align: center;
}

.tab-osd .preview .char {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.tab-osd .char.mouseover {
  background: rgba(255,255,255,0.4);
}

.tab-osd .char.dragging {
  background: rgba(255,255,255,0.4);
}

.tab-osd .char-label.mouseover {
  background: rgba(255,255,255,0.4);
}

.tab-osd .switch-all-elements {
  float: right;
}

.tab-osd .preview .char[draggable="true"] {
  cursor: move;
}

.tab-osd .preview .row {
  height: 18px;
}

#font-logo-preview-container {
  background:rgba(0, 255, 0, 0.4);
  margin-bottom: 10px;
  width: 45%;
  float: left;
}

#font-logo-preview {
  background:rgba(0, 255, 0, 1);
  line-height: 0;
  margin: auto;
}

#font-logo-info {
  width: 45%;
  margin-left: 18px;
  font-size: 125%;
  line-height: 150%;
  float: left;
}

#font-logo-info h3 {
  margin-bottom: 0.2em;
}

#font-logo-info ul li:before {
  content: '\2022\20';
}

#font-logo-info ul li.valid {
  color: #00a011;
}

#font-logo-info ul li.valid:before {
  content: '\2714\20';
}

#font-logo-info ul li.invalid {
  color: #a01100;
}

#font-logo-info ul li.invalid:before {
  content: '\2715\20';
}

#font-logo-info #font-logo-info-upload-hint {
  margin-top: 1em;
  display: none;
}

.tab-osd .content_wrapper {
  height: calc(100% - 70px);
}

.tab-osd .content_toolbar {
  text-align: right;
}

.tab-osd .content_toolbar button {
  margin-right: 1em;
}

button {
  padding: 4px 10px !important;
  font-weight: 600;
  font-size: 9pt !important;
  cursor: pointer;
}

.fontpresets_wrapper {
  display: inline-block;
  position: absolute;
  right: 1.2em;
  top: .8em;
}

.fontpresets {
  border: 1px solid #cccccc;
}

.tab-osd .switchable-field {
  padding: 3px;
  border: 1px solid transparent;
  border-bottom: 1px solid var(--subtleAccent);
}

.tab-osd .switchable-field.mouseover {
  background: #fff;
  border: 1px solid #ccc;
  font-weight: 800;
}

.tab-osd .switchable-field input {
  border-radius: 3px;
  border: 1px solid var(--subtleAccent);
  padding:2px;
  margin-top: -2px;
}

.tab-osd .switchable-field input[type=number] {
  float: right;
  display: none;
}

.tab-osd .switchable-field label {
  margin-left: 5px;
}

.tab-osd .switchable-fields {
  float: left;
  margin-top: 5px;
  margin-bottom: 8px;
  width: 100%;
}

.spacer_box_title span {
  font-size: 11px;
  font-weight: normal;
}

.spacer_box div input {
  margin-right: 5px;
}

.spacer_box div label {
  margin-right: 10px;
}


.tab-osd .switchable-field:last-child {
  border-bottom: 0px;
}

.tab-osd input,
.tab-osd select {
  border: 1px solid var(--subtleAccent);
}

.tab-osd .preview {
  width: 360px;
  float: left; 
  position: sticky;
  top: 0px;

  /* please don't copy the generic background image from another project
   * and replace the one that @nathantsoi took :)
   */
  background: url(../../images/osd-bg-1.jpg);
  background-size: cover;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.tab-osd .alarms label {
  display: block;
  width:100%;
  border-bottom: 1px solid var(--subtleAccent);
  margin-top:5px;
  padding-bottom: 5px
}

.tab-osd .alarms label:last-child {
  border-bottom: none;
  padding-bottom: 0px
}

.tab-osd .alarms input {
  width: 55px;
  padding-left: 3px;
  height: 18px;
  line-height: 20px;
  text-align: left;
  border-radius: 3px;
  margin-right: 11px;
  font-size: 11px;
  font-weight: normal;
}

.timer-option {
  float: none !important;
  padding: 2px;
  display: inline !important;
}

.timers-container label {
  margin-left: 15px !important;
  margin-right: 5px !important;
}

@media only screen and (max-width: 1055px) , only screen and (max-device-width: 1055px) {
  .tab-osd .content_wrapper {
    height: calc(100% - 30px);
  }
}
