.tab-pid_tuning .cf tr {
    background-color: #DEDEDE;
}

.tab-pid_tuning .cf th {
    border-right: solid 1px silver;
    height: 19px;
    font-weight: normal;
    padding: 4px;
    color:white;
    text-align: left;
    background: var(--quietHeader);
}

.tab-pid_tuning .cf th:first-child {
    border-top-left-radius: 3px;
}

.tab-pid_tuning .cf th:last-child {
    border-right: 0px;
    border-top-right-radius: 3px;
}

.tab-pid_tuning .cf td:first-child {
    border-bottom-left-radius: 3px;
}

.tab-pid_tuning .cf td:last-child {
    border-bottom-right-radius: 3px;
    border-right: 0px;
    padding-bottom: 0px;
}

.tab-pid_tuning .cf input {
    margin: 4px;
    width: calc(100% - 10px);
    border: 1px solid silver;
    border-radius: 3px;
}

.tab-pid_tuning .cf select {
    margin: 4px;
    width: calc(100% - 10px);
    border: 1px solid silver;
}

.tab-pid_tuning .throttle_curve {
    float: right;
    width: 100%;
    background-image: var(--paper);
    background-size: 200%;
    background-position: center;
    height: 164px;
}

.tab-pid_tuning .curves {
    float: left;
    margin-right: 10px;
}

.tab-pid_tuning .rate_curve {
    height: 100%;
    min-height: 234px;
    min-width: 200px;
    background-image: var(--paper);
    background-size: 200%;
    background-position: center;
}

.tab-pid_tuning input[type="number"]::-webkit-inner-spin-button {
    border: 0;
}

.tab-pid_tuning table {
    float: left;
    margin: 0px;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.tab-pid_tuning .gui_box {
    margin-bottom: 5px;
    display: table;
}

.tab-pid_tuning .subtab-filter .gui_box {
    float: none;
}

.tab-pid_tuning table .inputBackground {
    background: white;
}

.tab-pid_tuning table, .tab-pid_tuning table td {
    padding: 1px;
    border-bottom: 0px solid #ccc;
}

.tab-pid_tuning table th {
    padding: 0px;
    border: 0px;
    height: 10px;
    font-weight: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}

.tab-pid_tuning .pid_titlebar th {
    padding: 5px;
    text-align: left;
    border-right: 1px solid #ccc;
}

.tab-pid_tuning .pid_titlebar th:first-child {
    text-align: left;
    border-top-left-radius: 3px;
}

.tab-pid_tuning .pid_titlebar th:last-child {
    border-right: none;
    border-top-right-radius: 3px;
}

.tab-pid_tuning table tr td:first-child {
    text-align: left;
    padding-left: 5px;
}

.tab-pid_tuning table tr td:last-child {
    border-right: 0px solid #ccc;
}

.tab-pid_tuning #pid_optional table th {
    width: 25%;
}

.tab-pid_tuning #pid_optional table td {
    width: 25%;
}

.tab-pid_tuning #pid_accel table th {
    width: 33%;
}

.tab-pid_tuning #pid_accel table td {
    width: 33%;
}

.tab-pid_tuning table.compensation tr {
    height: 30px;
    border-bottom: 1px solid #ccc;
}

.tab-pid_tuning table.compensation tr:last-child {
    border-bottom: none;
}

.tab-pid_tuning table.compensation td {
    padding-left: 5px;
    padding-right: 5px;
}

.tab-pid_tuning table.compensation td:first-child {
    width: 65px;
    text-align: center;
    vertical-align: top;
    padding-top: 4px;
}

.tab-pid_tuning table.compensation td:last-child {
    width: 100%;
}

.tab-pid_tuning table.compensation .helpicon {
    margin-top: 3px
}

.tab-pid_tuning table.compensation .suboption {
    margin-left: 2%;
    display: flex;
    flex-flow: row wrap-reverse;
    align-items: center;
    padding-bottom: 2px;
}

.tab-pid_tuning table.compensation .suboption select {
    width: 80px;
    text-align-last: right;
    font-size: 1.1em;
    color: darkslategrey;
    box-sizing: border-box;
}

.tab-pid_tuning table.compensation .suboption input {
    width: 80px;
    box-sizing: border-box;
}

.tab-pid_tuning table.compensation .suboption label {
    margin-left: 5px;
}

.tab-pid_tuning .pidTuningFeatures td {
   padding: 5px;
}

.tab-pid_tuning .pidTuningFeatures td:first-child {
    width: 20%;
    padding-bottom: 6px;
    padding-top: 5px;
}

.tab-pid_tuning .pidTuningFeatures td:last-child {
    width: 80%;
}

.tab-pid_tuning .pidTuningFeatures td {
    width: 20%;
}

.tab-pid_tuning .pidTuningFeatures .slider input {
    -webkit-appearance: slider-horizontal
}

.tab-pid_tuning table td {
    padding: 1px;
    padding-left: 5px;
    border-right: 1px solid #ccc;
}

.tab-pid_tuning table tr td {
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

.tab-pid_tuning table .groupSwitchValue {
    display: inline-flex;
}

.tab-pid_tuning table .groupSwitchValue .inputValue {
    width: 80px;
}
.tab-pid_tuning table input {
    display: block;
    width: calc(100% - 0px);
    height: 20px;
    line-height: 20px;
    text-align: right;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.tab-pid_tuning .subtab-filter table input,
.tab-pid_tuning .subtab-filter table select {
    width: 77px;
    float: right;
    box-sizing: border-box;
}

.tab-pid_tuning table select {
    text-align-last: right;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.tab-pid_tuning .tab_container {
    float: left;
    width: 408px;
    height: 29px;
    border-right-width: 0px;
    background: #fff;
}

.tab-pid_tuning .tab_container td {
    background-color: #2e2e2e;
    padding-left: 8px;
    border-right: 1px solid white;

}

.tab-pid_tuning .tab_container td:first-child {
    border-top-left-radius: 5px;
}

.tab-pid_tuning .tab_container td:last-child {
    border-top-right-radius: 5px;
    background-color: #2e2e2e;
}

.tab-pid_tuning .tab_container td a {
    color: #999999;
}

.tab-pid_tuning .tab_container td.active {
    background-color: var(--accent);
    color: #000;
    transition: none;
    height: 27px;
    padding-left: 8px;

}

.tab-pid_tuning .tab_container td.active a {
    background-color: var(--accent);
    color: #000;
    text-shadow: 0px 1px rgba(255, 255, 255, 0.45);
}

.tab-pid_tuning .single-field {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 5px;
}

.tab-pid_tuning .single-field .head {
    text-align: left;
    border-bottom: 1px solid #ccc;
    background-color: var(--quietHeader);
    color: var(--quietText);
    height: 19px;
    font-weight: normal;
    padding: 2px;
    padding-left: 6px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.tab-pid_tuning .new_rates {
    text-align: center;
}

.tab-pid_tuning .top-buttons {
    float: right;
}

.tab-pid_tuning .fixed_band {
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.fancy.header {
  background-color: #D6D6D6;
  padding-top: 8px;
  font-size: 12px;
  border-bottom: 1px solid #ccc;
  color: #828282;
  background-image: linear-gradient(315deg, rgba(255, 255, 255, .2) 10%, transparent 10%, transparent 20%, rgba(255, 255, 255, .2) 20%, rgba(255, 255, 255, .2) 30%, transparent 30%, transparent 40%, rgba(255, 255, 255, .2) 40%, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent 60%, rgba(255, 255, 255, .2) 60%, rgba(255, 255, 255, .2) 70%, transparent 70%, transparent 80%, rgba(255, 255, 255, .2) 80%, rgba(255, 255, 255, .2) 90%, transparent 90%, transparent 100%, rgba(255, 255, 255, .2) 100%, transparent);
}

.fancy.header th {
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 5px;
}

.pid_mode {
    width: calc(100% - 5px);
    height: 18px;
    background-color: #D6D6D6;
    float: left;
    margin: 0px;
    padding: 0px;
    text-align: left;
    padding-left: 5px;
    line-height: 13px;
    padding-top: 5px;
    font-size: 12px;
    border-bottom: 1px solid #ccc;
    color: #828282;
    font-weight: normal;
    background-image: linear-gradient(315deg, rgba(255, 255, 255, .2) 10%, transparent 10%, transparent 20%,
        rgba(255, 255, 255, .2) 20%, rgba(255, 255, 255, .2) 30%, transparent 30%, transparent 40%,
        rgba(255, 255, 255, .2) 40%, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent 60%,
        rgba(255, 255, 255, .2) 60%, rgba(255, 255, 255, .2) 70%, transparent 70%, transparent 80%,
        rgba(255, 255, 255, .2) 80%, rgba(255, 255, 255, .2) 90%, transparent 90%, transparent 100%,
        rgba(255, 255, 255, .2) 100%, transparent);
}

.pid_mode > div:first-child {
    float: left;
}

.tab-pid_tuning .pid_mode .helpicon {
    margin-top: 0px;
}

.tab-pid_tuning .pid_titlebar {
    color: #fff;
    background-color: var(--quietHeader);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 20px;
}

.tab-pid_tuning .pid_titlebar.needed_by_LEVEL {
    border-radius: 0px;
}

.tab-pid_tuning .cf .throttleCurvePreview {
    padding: 0px;
}

.pid_roll {
    background-color: #FF8080;
}

.pid_pitch {
    background-color: #80FF80;
}

.pid_yaw {
    background-color: #8080FF;
}


.tab-pid_tuning .pid_titlebar td:first-child {
    text-align: left;
}

.show {
    width:130px;
    float:right;
    margin-right:3px;
}

.show a {
    margin-left: 10px;
    width: calc(100% - 10px);
}

.tab-pid_tuning .helpicon {
    margin-top: 1px;
}

.tab-pid_tuning .subtab-filter .newFilter .helpicon {
    margin-right: 2px;
    margin-top: 2px;
}

.tab-pid_tuning .number .helpicon {
    margin-top: 3px;
    margin-right: 0px;
}

.tab-pid_tuning .gui_box_titlebar .helpicon {
    margin-top: 5px;
    margin-right: 5px;
}

.tab-pid_tuning .spacer_left {
    padding-left: 0px;
    float: right;
    width: calc(100% - 20px)
}

.tab-pid_tuning .numberspacer {
    float: left;
    width: 65px;
    height: 21px;
}

.tab-pid_tuning .number {
    margin-bottom: 5px;
    clear: left;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--subtleAccent);
    width: 100%;
    float: left;
}

.tab-pid_tuning .number:last-child {
    padding-bottom: 5px;
    border-bottom: 0px;
}

.tab-pid_tuning .number input {
    width: 50px;
    padding-left: 3px;
    height: 20px;
    line-height: 20px;
    text-align: left;
    border: 1px solid silver;
    border-radius: 3px;
    margin-right: 11px;
    font-weight: normal;
}

.tab-pid_tuning .gui_box span {
    font-style: normal;
    font-weight: normal;
    line-height: 19px;
    color: #7d7d7d;
    font-size: 11px;
}

.tab-pid_tuning .resetbt {
    width: 140px;
    float: right;
}

.tab-pid_tuning .copyprofilebtn {
    width: 150px;
    float: right;
    margin-right:10px;
}

.tab-pid_tuning .copyrateprofilebtn {
    width: 150px;
    float: right;
    margin-right:10px;
}

.tab-pid_tuning .right {
    float: right;
}

.tab-pid_tuning .pids {
    float: left;
    width: 25%;
}

.tab-pid_tuning .leftzero {
    padding-left: 0px;
}

.tab-pid_tuning .roll {
    border-bottom-left-radius: 3px;
}

.tab-pid_tuning .pidTuningLevel {
    float: left;
}

.tab-pid_tuning .borderleft {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.tab-pid_tuning .textleft {
    width: 25%;
    float: left;
    text-align: left;
}

.tab-pid_tuning .topspacer {
    margin-top: 5px;
}

.tab-pid_tuning .bottomarea {
    float: left;
    width: calc(100% - 2px);
    border-bottom: 1px solid silver;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #f9f9f9;
    height: 20px;
}

.tab-pid_tuning .profile {
    width: 100px;
}

.tab-pid_tuning .profile select {
    border: 1px solid silver;
    margin-left: 5px;
    width: calc(100% - 10px);
}


.tab-pid_tuning .rate_profile {
    width: 130px;
}

.tab-pid_tuning .rate_profile select {
    border: 1px solid silver;
    margin-left: 5px;
    width: calc(100% - 10px);
}


.tab-pid_tuning .controller {
    width: 150px;
}

.tab-pid_tuning .controller select {
    border: 1px solid silver;
    margin-left: 5px;
    width: calc(100% - 10px);
}

.tab-pid_tuning .delta {
    width: 150px;
}

.tab-pid_tuning .delta select {
    border: 1px solid silver;
    margin-left: 5px;
    width: calc(100% - 10px);
}

.tab-pid_tuning .bracket {
    background-image: url(../../images/icons/icon_bracket.svg);
    background-repeat: no-repeat;
    height: 35px;
    width: 14px;
    margin-top: -23px;
    margin-left: 8px;
}

.tab-pid_tuning .rates_preview_cell {
    position: relative;
    width: 100%;
    height: 362px;
}

.tab-pid_tuning .rates_preview {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: var(--paper);
    background-size: 100%;
    background-position: center;
}

.tab-pid_tuning .pidTuning td {
    padding: 5px;
}

.tab-pid_tuning .pidTuning tr {
    width: 100%;
    border-bottom: 1px solid var(--subtleAccent);
    padding: 0px;
}

.tab-pid_tuning .pidTuning td:first-child {
    width: 10%;
    padding-bottom: 6px;
    padding-top: 5px;
}

.tab-pid_tuning .pidTuning td:last-child {
    width: 40%;
}

.tab-pid_tuning .pidTuning td {
    width: 40%;
}

.tab-pid_tuning .new_rates td:first-child {
    border-bottom-left-radius: 0px;
    padding-left: 10px;
}

.tab-pid_tuning .new_rates td:last-child {
    border-bottom-right-radius: 0px;
}

.tab-pid_tuning .rc_curve .cf tr td {
    padding: 0px;
}

.tab-pid_tuning .rc_curve_bg {
    float: left;
}

.tab-pid_tuning .new_rates_last-child {
    border-bottom: none;
}

.tab-pid_tuning .filter {
    padding-left: 5px;
}

.subtab-filter table tr td:first-child {
    text-align: right;
    padding-left: 5px;
    width: 1%;
}
.subtab-filter .two_columns {
    display: flex;
}

.subtab-filter .two_columns .two_columns_first {
    margin-right: 10px;
    height: fit-content;
}

.subtab-filter .two_columns .two_columns_second{
    margin-left: 10px;
    height: fit-content;
}

.tab-pid_tuning .tabboarder {
    background-color: var(--accent);
    float: left;
    width: 100%;
    height: 3px;
    margin-bottom: 10px;
}

.tabarea {
    float: left;
    width: calc(100% - 22px);
    padding-left: 10px;
    position: relative;
    padding: 10px;
    border: 1px solid silver;
    margin-top: -10px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top: 0px solid silver;
     background: #f9f9f9;
}

.tab-pid_tuning dialog {
    width: 40em;
    border-radius: 5px;
}

.tab-pid_tuning dialog .buttons {
    position: static;
    margin-top: 2em;
}

.tab-pid_tuning dialog h3 {
    margin-bottom: 0.5em;
}

.tab-pid_tuning dialog select {
    border: 1px solid silver;
    margin-left: 5px;
    width: 120px;
}

.tab-pid_tuning .tuningSlider {
    -webkit-appearance: none;
    width: calc(100% - 14px);
    height: 15px;
    border: none;
    outline: none;
    opacity: 0.8;
    transition: opacity .2s;
    margin: 7px;
    background: none;
}

.tab-pid_tuning .tuningSlider:hover {
    opacity: 1;
}

.tab-pid_tuning .tuningSlider::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background: rgba(0,255,0);
    border: solid 1px silver;
    border-radius: 4px;
    background: linear-gradient(90deg, rgb(167, 255, 204) 0%, rgb(187, 252, 255) 50%, rgb(255, 90, 23) 100%);
    height: 15px;
}

.tab-pid_tuning .tuningSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background: #ffbb2a;
    border: solid 1px #828885;
    cursor: pointer;
    position: relative;
    bottom: 5px;
}

.tab-pid_tuning .sliderLabels tr {
    border-bottom: 1px solid #ccc;
}

.tab-pid_tuning .sliderLabels tr:last-child {
    border-bottom: none;
}

.tab-pid_tuning .sliderLabels tr td:first-child {
    text-align: right;
    width: 20%;
}

.tab-pid_tuning .subtab-filter .sliderLabels tr td:first-child {
    width: 10%;
}

.tab-pid_tuning .sliderLabels tr td:nth-child(2) {
    text-align: center;
    width: 30px;
}

.tab-pid_tuning .sliderLabels tr td:last-child {
    width: 30px;
}

.tab-pid_tuning .tuningPIDSliders .pid_titlebar th,
.tab-pid_tuning .tuningFilterSliders .pid_titlebar th {
    text-align: center;
}

.tab-pid_tuning .tuningPIDSliders .pid_titlebar th:first-child {
    width: 20%;
    border-right: none;
}

.tab-pid_tuning .tuningFilterSliders .pid_titlebar th:first-child {
    width: 10%;
    border-right: none;
}

.tab-pid_tuning .tuningPIDSliders .pid_titlebar th:nth-child(2),
.tab-pid_tuning .tuningFilterSliders .pid_titlebar th:nth-child(2) {
    width: 30px;
}

.tab-pid_tuning .tuningPIDSliders .pid_titlebar th:last-child,
.tab-pid_tuning .tuningFilterSliders .pid_titlebar th:last-child {
    width: 30px;
}

.tab-pid_tuning .slidersHighWarning, 
.tab-pid_tuning .slidersFilterHighWarning {
    background: #ff8a67;
    border: 1px solid red;
    font-weight: bold;
    font-size: 12px;
}

.tab-pid_tuning .note-button td:nth-child(n) {
    padding-left: 7px;
    padding-right: 7px;
    text-align: center;
}

.tab-pid_tuning .note-button td:first-child {
    width: 75%;
    border-right: none;
}

.tab-pid_tuning .note-button .regular-button {
    display: block;
    overflow-wrap: break-word;
    margin: 2px;
}

.tab-pid_tuning .sliderLabels span {
    color: black;
    font-size: 12px;
}

.tab-pid_tuning .subtab-filter .sliderLabels input {
    width: calc(100% - 14px);
    box-sizing: content-box;
}

.tab-pid_tuning .subtab-rates {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
}

.tab-pid_tuning .subtab-rates .cf_column {
    min-width: 380px;
    flex: 1;
}

.tab-pid_tuning .subtab-pid {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
}

.tab-pid_tuning .subtab-pid .cf_column {
    min-width: 472px;
    flex: 1;
}

.tab-pid_tuning .subtab-pid .note {
    flex: 0 0 100%;
}

.tab-pid_tuning table.filterTable {
    table-layout: auto;
}

.tab-pid_tuning table.filterTable td:first-child {
    width: 25%;
}

@media only screen and (max-width: 1205px) {

.tab-pid_tuning .subtab-pid .spacer_left {
    width: 100%;
}
}

@media only screen and (max-width: 1405px) {
    
.tab-pid_tuning .subtab-rates .ratePreview.spacer_left {
    width: 100%;
}
}

.tab-pid_tuning .pid_titlebar .name-helpicon-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.tab-pid_tuning .pid_titlebar .name-helpicon-flex .helpicon {
    margin-right: 0;
}
