.tab-ports {
    position: relative;
}

#tab-ports-templates {
    display: none;
}

.tab-ports table {
    margin-bottom: 10px;
    width: 100%;
    border-collapse: collapse;
}

.tab-ports table, .tab-ports table th, .tab-ports table td {
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}

.tab-ports table tr td:first-child {
    text-align: left;
}

.tab-ports table td {
    border-bottom: 1px solid var(--subtleAccent);
    padding: 3px 3px 3px 5px;
    border-left: 1px solid var(--subtleAccent);
    border-right: 1px solid var(--subtleAccent);
}

.tab-ports table thead tr:first-child, .tab-ports table tr:nth-child(even) select,
.tab-ports table thead tr:first-child, .tab-ports table tr:nth-child(even) {
    background-color: var(--alternativeBackground);
}

.tab-ports table thead tr:first-child {
    font-size: 12px;
    height: 25px;
    font-family: 'open_sansregular', Arial;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
}

.tab-ports .function input {
    vertical-align: -2px;
}

.tab-ports .function label {
    margin-right: 5px;
}

.tab-ports select {
    border: 1px solid silver;
    margin-right: 3px;
}

.tab-ports .require-support {
    display: none;
}

.tab-ports.supported .require-support {
    display: block;
}

.tab-ports .require-upgrade {
    display: block;
}

.tab-ports.supported .require-upgrade {
    display: none;
}

/* margin required when cell contents wrap */
.tab-ports .ports select {
    margin-top: 5px;
    margin-bottom: 5px;
}

.tab-ports .ports select[name=function-peripherals],
.tab-ports .ports select[name=function-telemetry] {
    max-width: 110px;
}

.tab-ports .ports td {
    text-align: center;
}

.tab-ports .ports thead td {
    white-space: nowrap;
    padding: 5px 7px;
    background-color: var(--quietHeader);
    color: var(--quietText);
}

.tab-ports .ports thead td:first-child {
    text-align: left;
    border-top-left-radius: 5px;
    border-left: 0px;
}

.tab-ports .ports thead td:last-child {
    border-top-right-radius: 5px;
    border-right: 0px;
}

.tab-ports .spacebottom {
    margin-bottom: 20px;
}

@media only screen and (max-width: 1055px) , only screen and (max-device-width: 1055px) {
    .tab-ports table thead tr:first-child {
        font-size: 12px;
        height: 22px;
    }
}
