#tab-power-templates {
	display: none;
}
.tab-power {
	.battery-state {
		.configuration {
			border-bottom: 0;
		}
	}
	.label {
		width: 25%;
	}
	.select {
		margin-bottom: 0.5rem;
        padding-bottom: 0.5rem;
		border-bottom: 1px solid var(--surface-500);
		width: 100%;
		&:last-child {
			border-bottom: none;
			padding-bottom: 0;
			margin-bottom: 0;
		}
	}
	.require-support {
		display: none;
	}
	.require-upgrade {
		display: block;
	}
    @media all and (max-width: 575px) {
        .grid-box {
            &.col2 {
                grid-template-columns: 1fr !important;
            }
        }
    }
}
.tab-power.supported {
	.require-support {
		display: block;
	}
	.require-upgrade {
		display: none;
	}
}
