.tab-receiver {
    font-weight: normal;
}

.tab-receiver .graphAndLabel {
    float: left;
    width: 100%;
    margin-bottom: 0;
}

.tab-receiver .spacer {
    padding-left: 18px;
    padding-right: 9px;
    width: calc(100% - 18px);
}

.tab-receiver input[type="number"]::-webkit-inner-spin-button {
    border: 0;
}

.tab-receiver .bars {
    font-weight: bold;
}

.tab-receiver .bars ul {
    margin-bottom: 5px;
    clear: left;
}

.tab-receiver .bars li {
    float: left;
    height: 22px;
    line-height: 20px;
    white-space: nowrap;
}

.tab-receiver .bars .name {
    padding: 0 10px 0 0;
    width: 60px;
    text-align: right;
}

.tab-receiver .bars .meter {
    width: calc(100% - 70px);
}

.tab-receiver .bars .meter-bar {
    position: relative;
    margin-top: 2px;
    width: calc(100% - 2px);
    height: 15px;
    border: 1px solid var(--subtleAccent);
    background-color: #f4f4f4;
    border-radius: 3px;
}

.tab-receiver .bars .meter-bar .label {
    position: absolute;
    width: 50px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    color: #474747;
}

.tab-receiver .bars .meter-bar .fill {
    position: relative;
    overflow: hidden;
    border-radius: 2px;
    width: 50%;
    height: 15px;
    background-color: green;
}

.tab-receiver .bars .meter-bar .fill .label {
    color: white;
}

.tab-receiver .bars ul:nth-of-type(1) .fill {
    background-color: #f1453d;
}

.tab-receiver .bars ul:nth-of-type(2) .fill {
    background-color: #673fb4;
}

.tab-receiver .bars ul:nth-of-type(3) .fill {
    background-color: #2b98f0;
}

.tab-receiver .bars ul:nth-of-type(4) .fill {
    background-color: #1fbcd2;
}

.tab-receiver .bars ul:nth-of-type(5) .fill {
    background-color: #159588;
}

.tab-receiver .bars ul:nth-of-type(6) .fill {
    background-color: #50ae55;
}

.tab-receiver .bars ul:nth-of-type(7) .fill {
    background-color: #cdda49;
}

.tab-receiver .bars ul:nth-of-type(8) .fill {
    background-color: #fdc02f;
}

.tab-receiver .bars ul:nth-of-type(9) .fill {
    background-color: #fc5830;
}

.tab-receiver .bars ul:nth-of-type(10) .fill {
    background-color: #785549;
}

.tab-receiver .bars ul:nth-of-type(11) .fill {
    background-color: #9e9e9e;
}

.tab-receiver .bars ul:nth-of-type(12) .fill {
    background-color: #617d8a;
}

.tab-receiver .bars ul:nth-of-type(13) .fill {
    background-color: #cf267d;
}

.tab-receiver .bars ul:nth-of-type(14) .fill {
    background-color: #7a1464;
}

.tab-receiver .bars ul:nth-of-type(15) .fill {
    background-color: #3a7a14;
}

.tab-receiver .bars ul:nth-of-type(16) .fill {
    background-color: #14407a;
}

.tab-receiver .tunings {
    float: right;
    position: relative;
    margin: 0 0 10px 0;
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.tab-receiver .tunings .head {
    height: 15px;
    text-align: left;
    padding: 4px 4px 4px 6px;
    font-weight: normal;
    background: #828885;
    color: white;
    border-top-left-radius: 3px;
    border-right: 1px solid var(--subtleAccent);
}
.tab-receiver .tunings table {
    width: 100%;
    border-collapse: collapse;
}

.tab-receiver .tunings table, .tab-receiver .tunings table th, .tab-receiver .tunings table td {
    text-align: left;
    padding: 4px 4px 4px 6px;
}

.tab-receiver .tunings table th {
    background: var(--quietHeader);
    color: var(--quietText);
    border-right: 1px solid var(--subtleAccent);
    font-weight: normal;
}

.tab-receiver .tunings table th:first-child {
    border-top-left-radius: 3px;
}

.tab-receiver .tunings table th:last-child {
    border-top-right-radius: 3px;
    border-right: 0;
}

.tab-receiver .tunings table td {
    border-right: 1px solid var(--subtleAccent);
    padding: 1px;
}

.tab-receiver .tunings table td:first-child {
    border-bottom-left-radius: 3px;
}

.tab-receiver .tunings table td:last-child {
    border-bottom-right-radius: 3px;
    border-right: 0;
}

.tab-receiver .tunings table input {
    width: calc(100% - 8px);
    border: 1px solid var(--subtleAccent);
    border-radius: 3px;
    height: 22px;
    margin: 4px;
    line-height: 22px;
    text-align: right;
    box-sizing: border-box;
}

.tab-receiver .input-helpicon-flex {
    display: flex;
    flex-flow: row nowrap;
}

.tab-receiver .input-helpicon-flex .helpicon {
    min-width: 14px;
    margin-left: 4px;
}

.tab-receiver .tunings .sticks th,
.tab-receiver .tunings .deadband th {
    width: 33%;
}

.tab-receiver .rssi_channel_wrapper {
    float: right;
    margin: 0 0 10px 0;
    border-left: 0;
    width: 30%;
    box-sizing: border-box;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: 1px solid var(--subtleAccent);
    border-bottom: 1px solid var(--subtleAccent);
}

.tab-receiver .rcmap_wrapper {
    float: right;
    position: relative;
    margin: 0 0 10px 0;
    width: 70%;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left: 1px solid var(--subtleAccent);
    border-bottom: 1px solid var(--subtleAccent);
}

.tab-receiver .rssi_channel_wrapper .head,
.tab-receiver .rcmap_wrapper .head {
    height: 15px;
    padding: 4px;
    text-align: left;
    font-weight: normal;
    background: var(--quietHeader);
    color: var(--quietText);
}

.tab-receiver .rcmap_wrapper .head {
    border-right: 1px solid var(--subtleAccent);
    border-top-left-radius: 3px;
    padding-left: 6px;
}
.tab-receiver .rssi_channel_wrapper .head {
    border-top-right-radius: 3px;
}

.tab-receiver .rssi_channel_wrapper select {
    width: calc(100% - 10px);
}

.tab-receiver .hybrid_element {
    border-right: 1px solid var(--subtleAccent);
}

.tab-receiver .hybrid_element select {
    height: 22px;
    z-index: 1;
    margin: 4px;
    width: calc(100% - 10px);
}

.tab-receiver .hybrid_element input {
    position: absolute;
    padding-left: 5px;
    width: calc(100% - 36px);
    height: 20px;
    z-index: 2;
    border: 1px solid var(--subtleAccent);
    margin: 4px;
    border-radius: 3px 0 0 3px;
}

.tab-receiver select {
    height: 22px;
    padding-left: 5px;
    border: 1px solid var(--subtleAccent);
    border-radius: 3px;
    margin: 4px;
}

.tab-receiver .rc-smoothing-type {
    margin-bottom: 5px;
    clear: left;
    padding-bottom: 5px;
    width: 100%;
}

.tab-receiver .rc-smoothing-channels {
    margin-bottom: 5px;
    clear: left;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--subtleAccent);
    width: 100%;
}

.tab-receiver .rcSmoothing table td {
    border-right: none;
}

.tab-receiver .rcSmoothing table select,
.tab-receiver .rcSmoothing table input {
    width: 90%;
}

.tab-receiver .rcSmoothing table .helpicon {
    margin-top: 0;
}

.tab-receiver .rcSmoothing td:first-child {
    width: 120px;
    padding-left: 8px;
}

.tab-receiver .rcSmoothing td:last-child {
    width: calc(100% - 78px);
}

.tab-receiver .rcInterpolation .slider input {
    -webkit-appearance: slider-horizontal;
}

/*Plot Control*/

.tab-receiver .plot_control {
    float: right;
    width: 181px;
    height: 203px;
    margin: 0;
    background-color: #ECECEC;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    height; 203px;
}

.tab-receiver .plot_control .table {
    display:table;
    width: 100%;
    table-layout:fixed;
    border-collapse:separate;
    border-spacing:5px;
    box-sizing: border-box;
    padding: 5px 5px 5px 3px;
}

.tab-receiver .plot_control .row-container {
    display: table-row-group;
}

.tab-receiver .plot_control .receiver-button a {
    background-color: var(--accent);
    border-radius: 3px;
    border: 1px solid #e8b423;
    color: #000;
    font-size: 10px;
    line-height: 17px;
    text-shadow: 0 1px rgba(255, 255, 255, 0.25);
    text-transform: uppercase;
    letter-spacing: 0.03em;
    display: block;
    text-align: center;
  }
  
  .tab-receiver .plot_control .row {
    display: table-row;
  }
  
  .tab-receiver .plot_control .left-cell {
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
  }

  .tab-receiver .plot_control .right-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    width: 87px;
    font-size: smaller;
  }
  
  .tab-receiver .plot_control select {
    width: 100%;
    border: 1px solid var(--subtleAccent);
    border-radius: 3px;
  }
  
  .tab-receiver .plot_control .value {
    padding: 4px;
    color: #fff;
    border-radius: 3px;
  }
  
  .tab-receiver .plot_control .ch1 {
      background-color: #F1453D;
  }
  
  .tab-receiver .plot_control .ch2 {
      background-color: #673FB4;
  }
  
  .tab-receiver .plot_control .ch3 {
      background-color: #2B98F0;
  }
  
  .tab-receiver .plot_control .ch4 {
      background-color: #1FBCD2;
  }

.tab-receiver #RX_plot {
    width: calc(100% - 188px);
    height: 200px;
}

.tab-receiver #RX_plot .line:nth-child(1) {
    stroke: #f1453d;
}

.tab-receiver #RX_plot .line:nth-child(2) {
    stroke: #673fb4;
}

.tab-receiver #RX_plot .line:nth-child(3) {
    stroke: #2b98f0;
}

.tab-receiver #RX_plot .line:nth-child(4) {
    stroke: #1fbcd2;
}

.tab-receiver #RX_plot .line:nth-child(5) {
    stroke: #159588;
}

.tab-receiver #RX_plot .line:nth-child(6) {
    stroke: #50ae55;
}

.tab-receiver #RX_plot .line:nth-child(7) {
    stroke: #cdda49;
}

.tab-receiver #RX_plot .line:nth-child(8) {
    stroke: #fdc02f;
}

.tab-receiver #RX_plot .line:nth-child(9) {
    stroke: #fc5830;
}

.tab-receiver #RX_plot .line:nth-child(10) {
    stroke: #785549;
}

.tab-receiver #RX_plot .line:nth-child(11) {
    stroke: #9e9e9e;
}

.tab-receiver #RX_plot .line:nth-child(12) {
    stroke: #7a6614;
}

.tab-receiver #RX_plot .line:nth-child(13) {
    stroke: #cf267d;
}

.tab-receiver #RX_plot .line:nth-child(14) {
    stroke: #7a1464;
}

.tab-receiver #RX_plot .line:nth-child(15) {
    stroke: #3a7a14;
}

.tab-receiver #RX_plot .line:nth-child(16) {
    stroke: #14407a;
}

.tab-receiver .buttons {
    width: calc(100% - 20px);
    position: absolute;
    bottom: 10px;
}

/* SVG classes*/
.tab-receiver .grid .tick {
    stroke: silver;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.tab-receiver .line {
    stroke-width: 2px;
    fill: none;
}

.tab-receiver .grid path {
    stroke-width: 0;
}

.tab-receiver .axis path, .axis line {
    fill: none;
    stroke: #ccc;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.tab-receiver text {
    stroke: none;
    fill: #828885;
    font-size: 10px;
}

.tab-receiver .pid_titlebar {
    border-radius: 3px;
}

.tab-receiver .model_preview_cell {
    position: relative;
    width: 100%;
    height: 180px;
}

.tab-receiver .model_preview {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: -1px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media all and (max-width: 575px) {
    .tab-receiver .bars {
        margin-bottom: 10px;
    }
}
