## This is triggered by the publishing of a release, and will build the assets and attach them.

name: On Release

on:
  release:
    types: [published]

## note: we will need to move the deploy.yml workflow to break it apart (build and deploy in separate workflows)
jobs:
  build:
    name: Build
    uses: ./.github/workflows/build.yml
    with:
      debug_build: false

  release:
    name: Attach Release Artifacts
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Code Checkout
        uses: actions/checkout@v5

      - name: Fetch build artifacts
        uses: actions/download-artifact@v5

      - name: List assets
        run: ls -al betaflight-app-*/*

      - name: Attach assets to release
        run: |
          set -x
          ASSETS=()
          for asset in betaflight-app-*/*; do
            ASSETS+=("$asset")
            echo "$asset"
          done
          TAG_NAME="${GITHUB_REF##*/}"
          gh release upload "${TAG_NAME}" "${ASSETS[@]}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
