## This is triggered by the publishing of a release, and will build the assets and attach them.

name: On Release

on:
  release:
    types: [published]

jobs:
  modern_build:
    name: Build
    uses: ./.github/workflows/build.yml
    if: startsWith(github.event.release.tag_name, '20')
    with:
      debug_build: false
      commit_ref: ${{ github.event.release.target_commitish }}
    secrets:
      RELEASE_KEYSTORE: ${{ secrets.RELEASE_KEYSTORE }}
      RELEASE_KEYSTORE_PASSWORD: ${{ secrets.RELEASE_KEYSTORE_PASSWORD }}
      RELEASE_KEY_ALIAS: ${{ secrets.RELEASE_KEY_ALIAS }}
      RELEASE_KEY_ALIAS_PASSWORD: ${{ secrets.RELEASE_KEY_ALIAS_PASSWORD }}

  modern_release:
    name: Attach Release Artifacts
    needs: modern_build
    runs-on: ubuntu-latest
    if: startsWith(github.event.release.tag_name, '20')
    steps:
      - name: Code Checkout
        uses: actions/checkout@v5

      - name: Fetch build artifacts (APK only at this stage)
        uses: actions/download-artifact@v5
        with:
          name: betaflight-app-apk
          path: .

      - name: Attach assets to release
        run: |
          set -x
          ASSETS=()
          ASSETS+=("artifacts/${{ needs.modern_build.outputs.apk_name }}")
          TAG_NAME="${GITHUB_REF##*/}"
          gh release upload "${TAG_NAME}" "${ASSETS[@]}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
