# You'll need to setup the follwing environment variables:
#   secrets.REPO_TOKEN - A GitHub token with permissions to push and publish releases to the repo

name: Release

on:
  workflow_dispatch:
    inputs:
      title:
        description: 'Title to assign to the release'
        required: true
        type: string

      tag:
        description: 'Tag to assign to the release source code'
        required: true
        type: string

      generate_release_notes:
        description: 'Generate release notes?'
        required: true
        type: boolean

jobs:
  ci:
    name: CI
    uses: ./.github/workflows/ci.yml
    with:
      debug_build: false

  release:
    name: Release
    needs: ci
    runs-on: ubuntu-22.04
    steps:
      - name: Fetch build artifacts
        uses: actions/download-artifact@v4
        with:
          path: release-assets/

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          name: ${{ github.event.inputs.title }}
          tag_name: ${{ github.event.inputs.tag }}
          target_commitish: ${{ GITHUB.REF_NAME }}
          generate_release_notes: ${{ github.event.inputs.generate_release_notes }}
          files: release-assets/Betaflight-Configurator-*/**
          draft: true
          prerelease: false
          fail_on_unmatched_files: true          
